.blob{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 0, 166, 0.468);
    border-radius: 100%;
    filter: blur(100px);
    display: block;
    opacity: 0.4;
    display: non;

    &#blob-1{
        background-color: var(--primary-700);
        left: 0px;
        bottom: 0px;

        @media (max-width: 768px) {
            max-width: 100%;
            max-height: 100%;
         }
    }

    &#blob-3{
        background-color: var(--primary-700);
        right: 0;
        width: 300px;
        height: 300px;

        @media (max-width: 768px) {
            max-width: 100%;
            max-height: 100%;
         }
    }
    &#blob-4{
        background-color: var(--primary-500);
        right: 20%;
        z-index: 1;

        @media (max-width: 768px) {
            max-width: 100%;
            max-height: 100%;
         }
    }
    &#blob-5{
        background-color: var(--secondary-700);
        right: 0px;
        width: 100px;
        height: 100px;
        opacity: 1;

        @media (max-width: 768px) {
            max-width: 100%;
            max-height: 100%;
         }
    }
}