.loading-overlay{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;

  p{
    font-size: 1.1rem;
  }

  .loader {
    max-width: 250px;
    width: 100%;
    height: 3px;
    background-color: rgba(106, 106, 106, 0.352);

    .bar{
      width: 100%;
      height: 100%;
      background-color: var(--secondary-500);
      animation: load 0.5s;
    }

    @keyframes load {
      from {
        width: 0%;
      }
    
      to {
        width: 100%;
      }
    }
  }
}
