.tabs-container{
    display: flex;
    gap: 10px;
    flex-direction: column;

    .tab-navigation{
        display: flex;
        gap: 10px;

        .tab{
            display: block;
            background-color: var(--neutral-300);
            padding: var(--button-padding);
            border-radius: var(--radius);

            &.active{
                background-color: var(--neutral-900);
                color: var(--neutral-100);

                &:hover{
                    background-color: var(--neutral-900);
                    color: var(--neutral-100);
                }
            }

            &:hover{
                background-color: var(--neutral-500);
                cursor: pointer;
            }
        }
    }
}

/*SERVICE TABS*/

#service{
    .tabs-container{
        display: flex;
        gap: 120px;
        flex-direction: row;

        @media (max-width: 1200px){
            gap: 60px;
        }

        @media (max-width: 768px){
            flex-direction: column;
            gap: 10px;
        }

        img{
            width: 100%;
            margin-bottom: 15px;
        }
    
        .tab-navigation{
            display: flex;
            gap: 10px;
            flex-direction: column;
    
            .tab{
                display: block;
                font-size: 7rem;
                font-weight: 700;
                color: var(--neutral-600);
                background-color: transparent;
                display: flex;
                flex-direction: column;
                transition: 0.25s;
                text-wrap: nowrap;
                padding: 0px;

                @media (max-width: 1400px){
                    font-size: 5rem;
                }

                @media (max-width: 1200px){
                    font-size: 4rem;
                }

                @media (max-width: 768px){
                    font-size: 2rem;
                }

                &::after{
                    content: '';
                    width: 0%;
                    height: 5px;
                    background-color: var(--secondary-500);
                    transition: 0.25s;
                }

                &:not(.active){

                    font-size: 5rem;

                    @media (max-width: 1400px){
                        font-size: 3rem;
                    }
    
                    @media (max-width: 1200px){
                        font-size: 3rem;
                    }
    
                    @media (max-width: 768px){
                        font-size: 1rem;
                    }
                }
    
                &.active{
                    background-color: transparent;
                    color: var(--neutral-900);
    
                    &:hover{
                        background-color: transparent;
                        color: var(--neutral-700);
                    }
                }
    
                &:hover{
                    background-color: transparent;
                    cursor: pointer;
                    filter: blur(0px);
                    
                    &::after{
                        width: 100%;
                    }
        
                }
            }
        }
    }
}