:root{
    --var-1: 10px;
    --var-2: 10px;
    --var-3: 10px;
    --var-4: 10px;
    --var-5: 10px;

    /*Transition*/
    --transition-025: 0.25s;

    --button-padding: 7.5px 15px;

    --radius: 15px
}